# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Next Auth Discord Provider
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

# Prisma

DATABASE_URL="postgresql://neondb_owner:npg_UNq0xzCPO3SH@ep-calm-frog-ah43xr64-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
 DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_UNq0xzCPO3SH@ep-calm-frog-ah43xr64.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

 https://api.data.gov.in/resource/9ef84268-d588-465a-a308-a864a43d0070?api-key=579b464db66ec23bdd0000017b495d6fe87b47b95ac76e7ee9a53e42&format=json